# Node.js modules
node_modules/

# Logs
*.log
npm-debug.log*

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Playwright output
test-results/
videos/
screenshots/
trace.zip

# Playwright reports
playwright-report/

# Environment files
.env
.env.*.local

# Editors/IDEs
.vscode/
.idea/
*.swp